/* student Name: uche Uzoma
   Student Number: 8911148
   */

   body {
        font: normal normal 12px/1.5 verdana, sans-serif;
        height: 100vh;
        width: 100; 
        background-color: hsla(200,45%, 81%, 0.7); 
    
        font-size: 2rem;
        color: #fc9;
   }